.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__link {
  padding: 0.8rem;

  &:not(:last-child) {
    margin-right: 1em;
  }

  .social-icons__icon {
    width: 1.7rem;
    height: 1.7em;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
